body {
    background: url(https://wallpapercave.com/dwp1x/wp7070191.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 900vw;
}

body p {
    color: rgb(205, 206, 211);
}